#searcherTitle, .bold {
    -fx-font-size: 12px ;
    -fx-font-weight: bold
}

.title {
    -fx-font-size: 14px ;
    -fx-font-weight: bold
}

.h1 {
   -fx-display: block;
   -fx-font-size: 2em;
   -fx-margin-top: 0.67em;
   -fx-margin-bottom: 0.67em;
   -fx-margin-left: 0;
   -fx-margin-right: 0;
   -fx-font-weight: bold;
 }

.h2 {
    -fx-display: block;
    -fx-font-size: 1.5em ;
    -fx-margin-top: 0.83em;
    -fx-margin-bottom: 0.83em;
    -fx-margin-left: 0;
    -fx-margin-right: 0;
    -fx-font-weight: bold
}

.h3 {
   -fx-display: block;
   -fx-font-size: 1.17em;
   -fx-margin-top: 1em;
   -fx-margin-bottom: 1em;
   -fx-margin-left: 0;
   -fx-margin-right: 0;
   -fx-font-weight: bold;
 }

 .h4 {
    -fx-display: block;
    -fx-font-size: 1em;
    -fx-margin-top: 1.33em;
    -fx-margin-bottom: 1.33em;
    -fx-margin-left: 0;
    -fx-margin-right: 0;
    -fx-font-weight: bold;
  }

  .h5 {
     -fx-display: block;
     -fx-font-size: .83em;
     -fx-margin-top: 1.67em;
     -fx-margin-bottom: 1.67em;
     -fx-margin-left: 0;
     -fx-margin-right: 0;
     -fx-font-weight: bold;
   }

.toolbarIcon {
    -fx-width: 25px;
    -fx-height: 25px;
    -fx-font-size: .5em;
}

.myTab {
    -fx-border-color: grey ;
    -fx-border-width: 1 ;
}

#addToList {
    -fx-graphic: url("../img/addToList.png");

}

#createList {
    -fx-graphic: url("../img/createList.png");
}

#downloadSingle {
    -fx-graphic: url("../img/downloadSingle.png");
}

#downloadAll {
    -fx-graphic: url("../img/downloadAll.png");
}

#selectAll {
    -fx-graphic: url("../img/selectAll.png");
}

#deleteSelected {
    -fx-graphic: url("../img/deleteSelected.png");
}

#editList {
    -fx-graphic: url("../img/editList.png");
}

#deleteList {
    -fx-graphic: url("../img/deleteList.png");
}

#createListDialog {
}

.jfx-toggle-node {
    -jfx-toggle-color: deepskyblue;
}

.workingAreaValid {
    -fx-background-color: #66FB68;
}

.workingAreaIcon {
    -fx-opacity: 0.0;
    visibility: hidden;
}

.workingAreaInvalid {
    -fx-background-color: #EE4545;
}

.workingAreaInvalid .workingAreaIcon {
    visibility: visible;
    -fx-opacity: 1.0;
    -fx-fill: #A30303;
    -fx-graphic: url("../img/danger.png");
    -fx-width: 25px;
    -fx-height: 25px;
     -fx-font-size: .5em;
}