<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <!-- Console Appender -->
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <RollingFile name="RollingFile" fileName="logs/log.log" filePattern="logs/log-%d{dd-MM-yyyy}.log"
                     ignoreExceptions="false">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
            <TimeBasedTriggeringPolicy />
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="INFO">
            <Appender-ref ref="Console"/>
            <Appender-ref ref="RollingFile"/>
        </Root>
    </Loggers>



</Configuration>